:root {
 --color-background-body: #233042;
 --color-primary-body: #354156;
 --color-blue-light: #30aab3;
 --color-yellow: #ffca30;
 --color-red: #fa3757;
 --color-red-dark: #e02045;
 --color-green-dark: #4d967b;
 --color-background-primary: #fcfcf4;
 --spacing-small: 4px;
 --spacing-medium: 8px;
 --spacing-large: 12px;
 --spacing-x-large: 20px;
 --duration-paused: paused;
 --duration-slow: 3s;
 --duration-fast: 500ms;
 --easing-ease-in-sine: cubic-bezier(0.12, 0, 0.39, 0);
 --easing-ease-out-sine: cubic-bezier(0.61, 1, 0.88, 1)500ms;
 --radius-circle: 50%;
 --radius-large: 8px;
 --radius-small: 2px;
 --opacity-opacity-25: 0.25;
 --opacity-opacity-50: 0.5;
 --opacity-opacity-75: 0.75;
 --shadow-level-1: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);;
 --shadow-level-2: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);;
 --shadow-level-3: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);
 --media-query-max-width-mobile: 600px;
 --media-query-max-width-tablet: 1024px;
 --font-family-body: Arial, Helvetica, sans-serif;
 --font-family-headings: Palatino Linotype, serif;
 --font-size-caption: 12px;
 --font-size-body: 16px;
 --font-size-headings: 26px;
 --letter-spacing-dense: -1px;
 --letter-spacing-double: 2px;
 --line-height-heading: 1.25;
 --line-height-reset: 1;
 --line-height-text: 1.5;
}
